<!DOCTYPE html><!--  Last Published: Wed Jul 27 2022 21:57:08 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6144a51487d08084e4ef4d77" data-wf-site="6144a51487d0800a10ef4d76" lang="es">
<head>
  <%- include('metas'); %>
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/newport-monserrate.css" rel="stylesheet" type="text/css">
 
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css" rel="stylesheet">

  <%- include('gtag-head'); %>
  <style>
    #dis-vid {
      height: 0;
      overflow: hidden;
      padding-bottom: 32%;
      padding-top: 30px;
      position: relative;}
    #dis-vid img {
      height: auto;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;}
    #dis-vid iframe, #dis-vid object, #dis-vid embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;}
      .hide {
        display: none;
    }
    #valid-msg {
        color: #10B981;
    }
    #error-msg {
        color: #F43F5E;
    }
    .iti {
        display: block !important;
    }
    </style>
</head>
<body class="body">

  <%- include('gtag-body'); %>
  
  <div id="banner"></div>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container-7 w-container">
      <a href="https://newportapartamentos.com" class="brand w-nav-brand"><img src="images/logo-newport.png" loading="lazy" alt="" class="image-6"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#apartamentos" class="menu w-nav-link">Apartamentos</a>
        <a href="#zonassociales" class="menu w-nav-link">Zonas sociales</a>
        <a href="#sala" class="menu w-nav-link">Ubicación</a>
        <a href="#banner" class="menu w-nav-link">Contacto</a>
        <div class="arriba-redes">
          <a href="https://www.facebook.com/newportapartamentos/" target="_blank" class="w-inline-block"><img src="images/ico-face.svg" loading="lazy" alt="facebook Newport " class="imgredes"></a>
          <a href="https://www.instagram.com/newportapartamentos/" target="_blank" class="w-inline-block"><img src="images/instagram.png" loading="lazy" alt="instagram Newport " class="imgredes"></a>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-5 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="contenedor-banner">
    <div class="banner wf-section">
      <div class="div-block-21"></div>
      <div>
        <p class="paragraph">Newport, apartamentos en Cartagena</p>
        <div id="w-node-_6b6c99f4-2bd7-b1d8-f6eb-5f657d6b2aa2-e4ef4d77" class="div-block-12">
          <div class="form-block w-form">
            <form id="contactForm" name="email-form" data-name="Email Form" method="get" class="form">
              <div class="text-block-5">Apartamentos desde <span class="text-span">$227.400.000*</span></div>
               <p class="legal">*Equivalente al tope VIS al año de escrituración</p>
               <input type="text" class="formulario w-input" maxlength="256" name="Nombre" data-name="Nombre" placeholder="Nombre completo*" id="Nombre" required="">
               <input type="email" class="formulario w-input" maxlength="256" name="email" data-name="Email" placeholder="Correo electrónico*" id="email" required="">
               <div class="input-block">
                <div class="w-embed"><input type="hidden" name="Dial code" id="dialCode" class="dialCode" value=""></div>
                <input type="tel" class="formulario text-field phone w-input" maxlength="256" name="Phone-number" data-name="Phone number" placeholder="Celular*" id="phone" required="">
                <div class="w-embed"><span id="valid-msg" class="hide">Valid number</span>
                  <span id="error-msg" class="hide"></span>
                </div>
              </div>            
               <label class="w-checkbox">
                <input type="checkbox" id="Acepto los términos y condiciones" name="Acepto-los-t-rminos-y-condiciones" data-name="Acepto los términos y condiciones" required="" checked="" class="w-checkbox-input checkbox"><span for="Acepto-los-t-rminos-y-condiciones" class="checkbox-label w-form-label">Acepto los <a href="chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://www.constructoramonserrate.com/wp-content/uploads/2022/10/MANUAL-POLITICA-DE-DATOS-C.-MONSERRATE.pdf" target="_blank" class="link-2">términos y condiciones</a></span></label><input type="submit" value="Enviar" data-wait="Espere por favor ..." class="submit-button w-button">
               </form>
                 <div id="form-status" class="form-status"></div>       
               </div>
           </div>
      </div>
      <div class="div-block-9">
        <div class="div-block-11">
          <div class="titulo-vis">Aplica<br>subsidio</div>
          <div class="titulo-v">VIS</div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-17">
    <div class="separa"><img src="images/Separa-tu-apartamento-newport.png" loading="lazy" alt="" class="image-13">
      <div class="sepa">Separa tu apartamento con solo <span class="text-span"><strong>$</strong></span><strong>1.000.000</strong></div>
    </div>
  </div>
  <div class="porqueinvertir wf-section">
    <div class="caja-seo">
      <h1 class="tit-seo">Newport apartamentos Cartagena</h1>
    </div>
    <div class="div-block-3">
      <h2 class="tituloazul">¿Por qué invertir en Newport?</h2>
    </div>
    <div class="contenedorp">
      <div class="div-block-5">
        <div class="div-block-6"><img src="images/hogar-a-tu-alcance.png" loading="lazy" alt="" class="iconosinv">
          <p class="tit-text-invierte">Un nuevo hogar <br>a tu alcance</p><img src="images/linea.png" loading="lazy" alt="" class="separador">
          <p class="textoinvierte">Apartamentos desde $227.400.000</p>
          <p class="texto-ley">*Precio Tope VIS al año de escrituración.</p>
          <p class="textoinvierte">Recibimos <span class="text-span-5">tu subsidio</span> como parte de pago de la <span class="text-span-5">cuota inicial.</span> </p>
        </div>
        <div class="div-block-7"><img src="images/ubicacion-estrategica.png" loading="lazy" alt="" class="iconosinv">
          <p class="tit-text-invierte">Vive en una ubicación <br>estratégica</p><img src="images/linea.png" loading="lazy" alt="" class="separador">
          <p class="textoinvierte">Ubicado en un punto central de Cartagena, frente al puerto de Contecar, a 1 cuadra de Olímpica el Campestre</p>
        </div>
        <div class="div-block-8"><img src="images/disfruta-tu-familia-en-newport-apartamentos.png" loading="lazy" alt="" class="iconosinv">
          <p class="tit-text-invierte">Disfruta con tu familia<br></p><img src="images/linea.png" loading="lazy" alt="" class="separador">
          <p class="textoinvierte">Más de 10 zonas sociales para toda la familia.</p>
        </div>
      </div>
      <a id="zonassociales" href="#banner" class="btn">Cotizar mi apartamento</a>
    </div>
  </div>
  <div class="zonassociales wf-section">
    <div class="div-block-3">
      <h3 class="tituaz">Zonas sociales para toda la familia</h3>
    </div>
    <div class="caja-slider">
      <div class="contenedorp res">
        <p class="paragraph-2">Disfruta más de <strong>10 zonas sociales</strong>, pensadas <br>para divertir a toda tu familia.</p>
        <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="true" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="false">
          <div class="mask-2 w-slider-mask">
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/picina.svg" loading="lazy" alt="Piscina Newport " class="imgcar"></div>
              <p class="titcarzonas">Piscina adultos<br> y niños</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/juegos-infantiles.svg" loading="lazy" alt="Newport Apartamentos" class="imgcar"></div>
              <p class="titcarzonas">Juegos<br>infantiles</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/guarderia.svg" loading="lazy" alt="Guardería Newport " class="imgcar"></div>
              <p class="titcarzonas">Salón para<br>guardería</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/deportiva.svg" loading="lazy" alt="deportiva" class="imgcar"></div>
              <p class="titcarzonas">Zona<br>deportiva</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/salon-de-juegos-de-mesa.svg" loading="lazy" alt="juegos de mesa" class="imgcar"></div>
              <p class="titcarzonas">Salón de <br>juegos de mesa</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/salon-social.svg" loading="lazy" alt="salon social" class="imgcar"></div>
              <p class="titcarzonas">Salón social<br>‍</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/gimnasio.svg" loading="lazy" alt="gimnasio" class="imgcar"></div>
              <p class="titcarzonas">Salón para<br>gimnasio</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/bbq.svg" loading="lazy" alt="bbq Newport " class="imgcar"></div>
              <p class="titcarzonas">Terraza BBQ<br>‍</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/solarium.svg" loading="lazy" alt="salarium" class="imgcar"></div>
              <p class="titcarzonas">Solarium<br>‍</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/terraza.svg" loading="lazy" alt="terraza" class="imgcar"></div>
              <p class="titcarzonas">Terraza<br>panorámica</p>
            </div>
            <div class="carrucel w-slide">
              <div class="cajazonas"><img src="images/turco.svg" loading="lazy" alt="turco" class="imgcar"></div>
              <p class="titcarzonas">Baño Turco<br><br></p>
            </div>
          </div>
          <div class="left-arrow w-slider-arrow-left">
            <div class="icon w-icon-slider-left"></div>
          </div>
          <div class="right-arrow w-slider-arrow-right">
            <div class="icon-2 w-icon-slider-right"></div>
          </div>
          <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
    <div class="div-block-20">
      <div data-delay="4000" data-animation="slide" class="slider-3 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="mask-3 w-slider-mask">
          <div class="slider-zonas w-slide"></div>
          <div class="slider-zonas s2 w-slide"></div>
          <div class="slider-zonas s4 w-slide"></div>
          <div class="slider-zonas s3 w-slide"></div>
        </div>
        <div class="left-arrow-3 w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="slide-nav-3 w-slider-nav w-round"></div>
      </div>
    </div>
    <p class="texto-ley video">* Las zonas comunes no se entregan dotadas y serán entregadas por etapas según programación de construcción.</p>
    <div class="div-block-16">
      <a href="#apartamentosdisponibles" class="btn">Ver apartamento</a>
    </div>
  </div>
  <div class="section wf-section">
    <div data-delay="4000" data-animation="slide" class="slider-2 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="mask w-slider-mask">
        <div class="sliderrender w-slide">
          <div class="cajarendertitulo">
            <p class="paragraph-3">Piscina adultos y niños - Render del proyecto</p>
          </div>
        </div>
        <div class="sliderrender seg w-slide">
          <div class="cajarendertitulo">
            <p class="paragraph-3">Juegos infantiles - Render del proyecto</p>
          </div>
        </div>
        <div class="sliderrender ter w-slide">
          <div class="cajarendertitulo">
            <p class="paragraph-3">Vista - Render del proyecto</p>
          </div>
        </div>
      </div>
      <div class="left-arrow-2 w-slider-arrow-left">
        <div class="icon-3 w-icon-slider-left"></div>
      </div>
      <div class="right-arrow-2 w-slider-arrow-right">
        <div class="icon-4 w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav w-round"></div>
    </div>
    <div class="contenedorp"></div>
    <div id="apartamentosdisponibles"></div>
  </div>
  <div id="apartamentos" class="apartamentosdisponibles wf-section">
    <div class="div-block-3">
      <h4 class="tituloazul">Apartamentos disponibles para ti</h4>
    </div>
    <div class="contenedorp">
      <div data-duration-in="300" data-duration-out="100" data-current="Tab 2" data-easing="ease" class="w-tabs">
        <div class="tabs-menu w-tab-menu">
          <a data-w-tab="Tab 3" class="tabdesabilitado w-inline-block w-tab-link"><img width="313" height="117" src="images/torre1-newpor-apartamentos.jpg" loading="lazy" alt="" class="image-14"></a>
          <a data-w-tab="Tab 4" class="tabdesabilitado w-inline-block w-tab-link"><img width="313" height="117" src="images/Grupo-384.webp" loading="lazy" alt="" class="image-14"></a>
          <a data-w-tab="Tab 1" class="menuplanos w-inline-block w-tab-link">
            <div class="div-block-18">
              <div>Torre 3</div>
            </div>
            <div class="caja-subtitulo-apart">
              <p class="subtitulo-aparta">En construcción y ventas</p>
            </div>
          </a>
          <a data-w-tab="Tab 2" class="menuplanos w-inline-block w-tab-link w--current">
            <div>
              <div>Torre 4</div>
            </div>
            <div class="caja-subtitulo-apart">
              <p class="subtitulo-aparta">ventas</p>
            </div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 3" class="w-tab-pane"></div>
          <div data-w-tab="Tab 4" class="w-tab-pane"></div>
          <div data-w-tab="Tab 1" class="w-tab-pane">
            <div class="cajaplanos">
              <div id="w-node-_40efa98b-dc96-0686-6a9d-5cc0becc9e67-e4ef4d77" class="cajacl">
                <div class="div-block-13">
                  <div class="cajaarea lin">
                    <p class="infosliderplanos">Área construída</p>
                    <p class="titub">52 m2</p>
                  </div>
                  <div class="cajaarea">
                    <p class="infosliderplanos">Área privada</p>
                    <p class="titub">47 m2</p>
                  </div>
                </div>
                <p class="aplicasli">Aplica subsidio <span class="text-span-2">VIS</span></p>
                <p class="alcobas">2 alcobas + Espacio flexible</p>
                <p class="precio">Precio desde: <span class="text-span-4">$</span>173.826.000*</p>
                <p class="notaslider">*Incluye acabados básicos.</p>
                <a href="#banner" class="btn">Cotizar mi apartamento</a>
                <a href="https://newportapartamentos.com/pdf/newport.pdf" target="_blank" class="btn-3 brochure">Brochure</a>
              </div><img id="w-node-_5dd180b2-6a24-31b0-7b9d-f214ca22ac18-e4ef4d77" loading="lazy" src="images/plano-t3.jpg" alt="plano t3" class="image-9">
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
            <div class="cajaplanos">
              <div id="w-node-_73ef46fb-8134-2218-f608-9c6ebc8f1eb8-e4ef4d77" class="cajacl">
                <div class="div-block-13">
                  <div class="cajaarea lin">
                    <p class="infosliderplanos">Área construída</p>
                    <p class="titub">52 m2</p>
                  </div>
                  <div class="cajaarea">
                    <p class="infosliderplanos">Área privada</p>
                    <p class="titub">47 m2</p>
                  </div>
                </div>
                <p class="aplicasli">Aplica subsidio <span class="text-span-2">VIS</span></p>
                <p class="alcobas">2 alcobas + Espacio flexible</p>
                <p class="precio">Precio desde: <span class="text-span-6">$</span>227.400.000*</p>
                <p class="notaslider">*Equivalente al tope VIS al año de escrituración<br>*Incluye acabados básicos.</p>
                <a href="#banner" class="btn">Cotizar mi apartamento</a>
                <a href="https://newportapartamentos.com/pdf/newport.pdf" target="_blank" class="btn-3 brochure">Brochure</a>
              </div><img loading="lazy" src="images/palno-t4.jpg" alt="plano t4">
            </div>
          </div>
        </div>
      </div>
      <p class="texto-ley">* Las imágenes utilizadas son representaciones digitales del diseño y junto con el apartamento modelo pueden variar en la construcción final. El mobiliario, electrodomésticos, gasodomésticos, acabados y demás elementos que aparecen en las imágenes o en el apartamento modelo son una representación a fin de ilustrar la utilización de los espacios y pueden diferir de lo entregado o no ser entregado según lo convenido en los contratos. Las áreas privadas y construidas podrán sufrir ajustes y quedarán finalmente determinadas en los contratos suscritos por las partes. Precio sujeto a cambios sin previo aviso.<br></p>
    </div>
  </div>
  <div id="recorrido" class="recorrido wf-section"><img src="images/360-icono-2.png" loading="lazy" alt="ico 360">
    <h6 class="tituloblanco">Conoce tu nuevo apartamento<br>con el recorrido 360°</h6>
    <a href="https://www.constructoramonserrate.com/360/newport/newport-apto/tour360.html" target="_blank" class="btn">Ver apartamento</a>
    <div id="sala"></div>
  </div>
  <div class="sala wf-section">
    <div class="contenedorp">
      <div class="div-block">
        <div id="w-node-_365c8592-f197-7937-86b3-c8bc0b50a024-e4ef4d77" class="w-embed w-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7849.107765244892!2d-75.51005563022461!3d10.377510000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef625df7520be33%3A0x6c7b0b40207c5d7f!2sNEWPORT%20APARTAMENTOS!5e0!3m2!1ses-419!2sco!4v1673566418435!5m2!1ses-419!2sco" width="550" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        <div id="w-node-_140e905c-0634-8bd7-00c0-e291c21ae8cf-e4ef4d77" class="div-block-14">
          <h6 class="tituloblanco titfoot">Visita nuestra sala de ventas</h6>
          <p class="titulofooter primero">Teléfonos</p>
          <div class="cajasfooter"><img src="images/whatsapp.png" loading="lazy" alt="" class="image-7">
            <p class="textfooter">(+57) 322 655 7198 - (+57) 318 410 5470 - (+57) 312 462 5641<br></p>
          </div>
          <div class="cajasfooter"><img src="images/tel-newport-apartamento.png" loading="lazy" alt="" class="image-7">
            <p class="textfooter">(5) 693 0548<br></p>
          </div>
          <p class="titulofooter">Encuéntranos</p>
          <div class="cajasfooter"><img src="images/ubicacion-newport.png" loading="lazy" alt="" class="image-7">
            <p class="textfooter">Calle 10 No. 56 - 210<br></p>
          </div>
          <p class="textfooter"><span class="text-span-3">Cartagena, a 2 cuadras del Olimpica del Campestre</span></p>
          <p class="titulofooter">Horarios de sala de ventas</p>
          <p class="textfooter">Lunes a domingo<br>9:00 a.m. - 5:00 p.m.</p>
          <div class="div-block-19">
            <a href="#apartamentosdisponibles" class="btn">Agendar mi cita</a>
          </div>
          <div class="div-block-2">
            <a href="https://www.waze.com/es-419/live-map/directions?navigate=yes&amp;to=ll.10.377539%2C-75.501287" target="_blank" class="w-inline-block"><img src="images/waze-newport.png" alt="Waze Newport apartamentos Cartagena" class="image-2"></a>
            <a href="https://www.google.com/maps/place/NEWPORT+APARTAMENTOS/@10.377539,-75.5034757,17z/data=!3m1!4b1!4m5!3m4!1s0x8ef625df7520be33:0x6c7b0b40207c5d7f!8m2!3d10.377539!4d-75.501287" target="_blank" class="link-block w-inline-block"><img src="images/maps-newport.png" srcset="images/maps-newport-p-500.png 500w, images/maps-newport.png 745w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 33vw, (max-width: 991px) 176.390625px, 17vw" alt="google maps Newport apartamentos Cartagena " class="image-8"></a>
          </div>
          <div class="textoblanco">Encuéntranos como Newport Apartamentos</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer wf-section"><img src="images/logos-footer-1.png" loading="lazy" sizes="(max-width: 991px) 100vw, 600px" srcset="images/logos-footer-1-p-500.png 500w, images/logos-footer-1.png 1140w" alt="" class="image"><img src="images/logos-footer-mobil.jpg" loading="lazy" alt="" class="image mobil">
    <div>
      <div>
        <a href="https://www.facebook.com/newportapartamentos/" target="_blank" class="w-inline-block"><img src="images/ico-face.svg" loading="lazy" alt="facebook Newport " class="imgredes"></a>
        <a href="https://www.instagram.com/newportapartamentos/" target="_blank" class="w-inline-block"><img src="images/instagram.png" loading="lazy" alt="instagram Newport " class="imgredes"></a>
      </div>
      <div class="text-block">© Conversion all Rights Reserved 2021</div>
    </div>
  
  <%- include('scripts-footer'); %>

</body>
</html>