<meta charset="utf-8">

<meta content="width=device-width, initial-scale=1" name="viewport">

<title>Newport apartamentos Cartagena</title>

<meta name="description"
    content="Newport apartamentos Cartagena | Desde $193.400.000 | 2 alcobas y 2 + Espacio flexible, Calle 10 No. 56 - 210, Cartagena." />

    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />

<meta property="og:title" content="Newport apartamentos Cartagena " />
<meta property="og:description" content="Newport apartamentos Cartagena | Desde $193.400.000 | 2 alcobas y 2 + Espacio flexible, Calle 10 No. 56 - 210, Cartagena." />
<meta property="og:url" content="https://newportapartamentos.com/" />

<meta property="og:site_name" content="Newport apartamentos Cartagena" />
<meta property="article:publisher" content="https://www.facebook.com/newportapartamentos/" />
<meta property="og:image" content="https://newportapartamentos.com/cover.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="keywords" content="Newport apartamentos Cartagena " />
<meta name="google-site-verification" content="VJUsnPP0CwvAWcHQiaEYEdNiZFHj-7Wfcpc3quXRQ0E" />
<meta name="facebook-domain-verification" content="6uyxkd9w1f9z6xu78i6tdcdayztap9" />